* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  height: 100svh;
  width: 100svw;
  background-color: rgb(163, 163, 163);
  display: flex;
  justify-content: center;
  align-items: center;
}

#court {
  aspect-ratio: 5 / 11;
  width: 100%;
  max-width: 300px;
  max-height: 600px;
  border: 5px solid white;
  background-color: rgb(67, 179, 67);
}

#top {
  width: 100%;
  height: 50%;
  border-bottom: 2.5px solid white;
  display: flex;
  flex-direction: column;
}

#bottom {
  width: 100%;
  height: 50%;
  border-top: 2.5px solid white;
  display: flex;
  flex-direction: column;
}

#kitchen1 {
  width: 100%;
  flex: 7;
  background-color: rgb(68, 68, 240);
  border-top: 5px solid white;
}

#kitchen2 {
  width: 100%;
  flex: 7;
  background-color: rgb(68, 68, 240);
  border-bottom: 5px solid white;
}

.services {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 15;
}

.service1 {
  width: 50%;
  height: 100%;
  border-right: 2.5px solid white;
}

.service2 {
  width: 50%;
  height: 100%;
  border-left: 2.5px solid white;
}